@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

$wallpaper-color: black;

$bp-extralarge: 93.75em; // 1500
$bp-largest: 59.375em; // 950
$bp-large: 40.625em; // 650
$bp-medium: 31.25em; // 500

* {
    box-sizing: border-box;
  }
  
  html {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 62.5%; //1rem = 10px

    @media only screen and (max-width: $bp-largest) {
      font-size: 43.75%;
    }
  }
  
  body {
    margin: 0;
    background-color: black;
  }