
.mainpage {
    color: white;
    display: flex;
    align-items: center;
    height: 45rem;

    &__logo {
        // margin: auto;
        width: auto;
        flex: 1;
        margin-left: 14rem;
        font-family: 'Rock Salt', cursive;
        font-size: 2rem;
        margin-bottom: 4rem;
        transform: skew(40deg, -5deg);
    }

    // &__logo {
    //     // margin: auto;
    //     width: 15%;
    //     flex: 1;
    //     margin-left: 10rem;
    // }

    &__model {
        width: 32%;
        padding: 2rem;
        position: absolute;
        top: 10%;
        right: 10%;
        // border-radius: 50%;
        // box-shadow: 157px -135px 5px 0px black inset;
    }

    &__left {
        flex: 2;
        font-size: 3rem;
        padding: 2rem;
        margin-left: 3rem;
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        
        &-text {
            height: auto;
            margin-top: 5px;
            margin-bottom: 0px;
            text-shadow: rgb(80, 16, 16) 5px 5px;
        }

        h3 {
            margin-top: 0px;
            text-shadow: rgb(80, 16, 16) 5px 5px;
        }
    }

    &__right {
        flex: 1;
        // position: relative;
        // height: 20rem;
    }

    &__design {
        font-size: 15px;
        color: rgb(139, 139, 139);
    }

    &__icons {
        &-item {
            filter: drop-shadow(5px 5px 5px rgb(80, 16, 16));
            color: rgb(139, 139, 139);

            &:hover {
                cursor: pointer;
            }
        }
    }
}