
.mainpage {
    color: white;
    display: flex;
    // align-items: center;
    height: auto;
    position: relative;

    &__logo {
        // margin: auto;
        width: auto;
        flex: 1;
        margin-left: 14rem;
        font-family: 'Rock Salt', cursive;
        font-size: 2rem;
        margin-bottom: 4rem;
        transform: skew(40deg, -5deg);
        position: absolute;
        top: 3%;
        left: -3%;
    }

    // &__logo {
    //     // margin: auto;
    //     width: 15%;
    //     flex: 1;
    //     margin-left: 10rem;
    // }

    &__model {
        width: 70%;
        padding: 2rem;
        max-height: 70vh;
        // position: absolute;
        // top: 10%;
        // right: 10%;
        // position: absolute;
        // top: 40%;
        // left: 25%;
        // transform: translate(-50%, -50%);
        // align-self: center;
        z-index: 1;
        // border-radius: 50%;
        // box-shadow: 157px -135px 5px 0px black inset;
    }

    &__left {
        flex: 1;
        font-size: 3rem;
        padding: 2rem;
        margin-left: 3rem;
        margin-top: 8rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        // text-align: center;
        
        &-text {
            height: auto;
            margin-top: 5px;
            margin-bottom: 0px;
            text-shadow: rgb(80, 16, 16) 5px 5px;
            position: relative;
            z-index: 100;
        }

        h3 {
            margin-top: 0px;
            text-shadow: rgb(80, 16, 16) 5px 5px;
        }
    }

    &__right {
        flex: 1;
        position: relative;
        // width: 1rem;
        // height: 90vh;
        height: auto;
        // max-height: 50vh;
        align-self: center;
    }

    &__design {
        font-size: 15px;
        color: rgb(139, 139, 139);
    }

    &__icons {
        &-item {
            filter: drop-shadow(5px 5px 5px rgb(80, 16, 16));
            color: rgb(139, 139, 139);

            &:hover {
                cursor: pointer;
            }
        }
    }
}