@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  box-sizing: border-box; }

html {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 62.5%; }

body {
  margin: 0;
  background-color: black; }

.mainpage {
  color: white;
  display: flex;
  align-items: center;
  height: 45rem; }
  .mainpage__logo {
    width: 15%;
    flex: 1;
    margin-left: 10rem; }
  .mainpage__model {
    width: 32%;
    padding: 2rem;
    position: absolute;
    top: 10%;
    right: 10%; }
  .mainpage__left {
    flex: 2;
    font-size: 3rem;
    padding: 2rem;
    margin-left: 3rem;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem; }
    .mainpage__left-text {
      margin-top: 5px;
      margin-bottom: 0px;
      text-shadow: #501010 5px 5px; }
    .mainpage__left h3 {
      margin-top: 0px;
      text-shadow: #501010 5px 5px; }
  .mainpage__right {
    flex: 1; }
  .mainpage__design {
    font-size: 15px;
    color: #8b8b8b; }
  .mainpage__icons-item {
    filter: drop-shadow(5px 5px 5px #501010);
    color: #8b8b8b; }
    .mainpage__icons-item:hover {
      cursor: pointer; }

.mainmenu {
  text-align: right;
  font-size: 4rem;
  padding-right: 1rem;
  height: 5rem; }

.menucontent__content {
  flex: 9;
  display: flex;
  justify-content: center; }
  .menucontent__content-item:not(:last-child) {
    margin-right: 10rem; }
  .menucontent__content-item {
    width: auto;
    margin-top: 5px;
    font-size: 2.5rem;
    color: white; }

.menucontent__icon {
  flex: 1;
  color: white;
  padding-right: 1rem; }

.menucontent__container {
  display: flex;
  justify-content: center;
  width: 100vw; }
