@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
* {
  box-sizing: border-box; }

html {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 62.5%; }

body {
  margin: 0;
  background-color: black; }

.mainpage {
  color: white;
  display: flex;
  align-items: center;
  height: 45rem; }
  .mainpage__logo {
    width: auto;
    flex: 1;
    margin-left: 14rem;
    font-family: 'Rock Salt', cursive;
    font-size: 2rem;
    margin-bottom: 4rem;
    transform: skew(40deg, -5deg); }
  .mainpage__model {
    width: 32%;
    padding: 2rem;
    position: absolute;
    top: 10%;
    right: 10%; }
  .mainpage__left {
    flex: 2;
    font-size: 3rem;
    padding: 2rem;
    margin-left: 3rem;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem; }
    .mainpage__left-text {
      height: auto;
      margin-top: 5px;
      margin-bottom: 0px;
      text-shadow: #501010 5px 5px; }
    .mainpage__left h3 {
      margin-top: 0px;
      text-shadow: #501010 5px 5px; }
  .mainpage__right {
    flex: 1; }
  .mainpage__design {
    font-size: 15px;
    color: #8b8b8b; }
  .mainpage__icons-item {
    filter: drop-shadow(5px 5px 5px #501010);
    color: #8b8b8b; }
    .mainpage__icons-item:hover {
      cursor: pointer; }

.aboutme {
  color: white;
  display: flex;
  align-items: center;
  height: 45rem;
  align-items: center;
  height: 80vh; }
  .aboutme__left {
    flex: 3;
    padding: 2rem;
    margin-left: 3rem; }
    .aboutme__left-text {
      font-size: 3rem; }
  .aboutme__right {
    flex: 2;
    width: 80%;
    height: 100%;
    position: relative; }
    .aboutme__right-model {
      width: 80%;
      height: 100%;
      object-fit: cover;
      display: block;
      border-radius: 10px; }
  .aboutme__icons {
    font-size: 3rem; }

.gradient {
  width: 80%;
  height: 100%;
  background-image: radial-gradient(circle, transparent, black), linear-gradient(to right, black, 5%, transparent), linear-gradient(to left, black, 5%, transparent);
  position: absolute;
  top: 0;
  left: 0; }

.portfolio {
  height: 92vh;
  background-image: url(../assets/model_img2.PNG);
  background-repeat: no-repeat;
  background-size: cover; }

.mainmenu {
  text-align: right;
  font-size: 4rem;
  padding-right: 1rem;
  height: 5rem; }

.menucontent__content {
  flex: 9;
  display: flex;
  justify-content: center; }
  .menucontent__content a {
    text-decoration: none; }
  .menucontent__content-item:not(:last-child) {
    margin-right: 10rem; }
  .menucontent__content-item {
    width: auto;
    margin-top: 5px;
    font-size: 2.5rem;
    color: white; }

.menucontent__icon {
  flex: 1;
  color: white;
  padding-right: 1rem; }

.menucontent__container {
  display: flex;
  justify-content: center;
  width: 100vw; }

.active {
  text-shadow: #501010 5px 5px;
  text-decoration: underline !important; }
